<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物流管理系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/Style/css/sui/sm.min.css">
    <link rel="stylesheet" href="/Style/css/sui/sm-extend.min.css">
    <link href="/Style/css/iconlink.css" rel="stylesheet">
    <link rel="stylesheet" href="/Style/css/style.css">
    <style>
        input[type=checkbox] {
            -webkit-appearance: checkbox;
            height: .8rem;
        }

        .zbshangjia-ul {
            padding: 1rem 0rem 0rem;
        }

        .buttons-tab .button.active {
            background: #0894ec;
            border: 1px solid #0894ec;
            color: #fff;
        }

        .tab_nav {
            display: flex;
            justify-content: center;
            background: #f2f2f2;
            border: none;
        }

            .tab_nav .tab_nav_btn {
                border: 1px solid #0894ec;
                height: 30px;
                line-height: 30px;
                background: #fff;
                color: #0894ec;
                font-size: .7rem;
                width: 173px;
            }

                .tab_nav .tab_nav_btn.nav1 {
                    border-right: none;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                .tab_nav .tab_nav_btn.nav2 {
                    border-left: none;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                }
    </style>
</head>

<body>
    <div class="page-group">
        <div class="page page-current">
            <!-- 你的html代码 -->
            <header class="bar bar-nav">
                <a href="index.html" class="icon iconfont icon-zuo pull-left"></a>

                <h1 class="title">授权管理</h1>
            </header>


            <div class="content" style="background:#f2f2f2;">
                <div class="page-index">
                    <div class="searchbar">
                        <div class="search-input">
                            <label class="icon icon-search" for="search"></label>
                            <input type="search" id='search' placeholder='搜索订单' />
                        </div>
                    </div>
                    <ul class="zbshangjia-ul">
                        <li class="shangjia-li1">
                            <a href="line_warrant.html" class="row">
                                <div class="col-30 shangjia-left">
                                    <span class="iconfont icon-localshipping" style="color: #41d9bd;"></span>
                                </div>
                                <div class="col-50 shangjia-center">
                                    线路授权
                                </div>
                                <div class="col-20 shangjia-right">
                                    <span class="iconfont icon-gengduo"></span>
                                </div>
                            </a>
                        </li>
                        <li class="shangjia-li2" style="margin-bottom:0;">
                            <a href="staff_warrant.html" class="row">
                                <div class="col-30 shangjia-left">
                                    <span class="iconfont icon-traffic" style="color: #b160b3;"></span>
                                </div>
                                <div class="col-50 shangjia-center">
                                    员工授权
                                </div>
                                <div class="col-20 shangjia-right">
                                    <span class="iconfont icon-gengduo"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="buttons-tab ali_center tab_nav">
                        <a href="#tab1" class="tab-link active button fz_14 tab_nav_btn nav1">授权线路</a>
                        <a href="#tab2" class="tab-link button fz_14 tab_nav_btn nav2">授权员工</a>

                    </div>
                    <div class="content-block">
                        <div class="tabs">
                            <div id="tab1" class="tab active">
                                <div class="content-block">
                                    <ul class="white" style="padding:1rem .5rem;" id="sqxl_list">
                                        <!--授权线路列表-->
                                    </ul>
                                </div>
                            </div>
                            <div id="tab2" class="tab">
                                <div class="content-block">
                                    <ul class="white" style="padding:1rem .5rem;" id="sqyg_list">
                                       <!--授权员工列表-->
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="renzhengpanel" class="dis_flex col_100 ali_center choose_siji" style="display:none;height:100%; position:fixed;top:0%; justify-content:center;z-index: 111;">
                    <div class="white col_80" style="padding:1rem; height:160px;position:relative;">
                        <i style="position:absolute;right:5px;top:0px;" class="iconfont icon-close1 fc_ash"></i>
                        <p class="txt_center" style="padding-bottom:1rem;">运单号首字母</p>
                        <p>
                            <select id="Lineletter">
                                <option value="">请选择</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                                <option value="K">K</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="O">O</option>
                                <option value="P">P</option>
                                <option value="Q">Q</option>
                                <option value="R">R</option>
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <option value="U">U</option>
                                <option value="V">V</option>
                                <option value="W">W</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                                <option value="Z">Z</option>
                            </select>
                        <p class="txt_center"><button class="green fz_14 fc_white mart_20" style="border: 1px solid #a3c478;padding: .2rem 1rem;" id="CmdBtn">确定选择</button></p>
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='/Style/scripts/all.js' charset='utf-8'></script>

    <script>
        let lastid = 0;
        PageInit(function () {
            $.init();

            RefLineAuthorizationList();
            RefEmployeeEmpowermentList();

            $(".icon-close1").click(function () {
                $("#renzhengpanel").css("display", "none");
            });

            $("#CmdBtn").click(function () {
                let Lineletter = $("#Lineletter").val();
                if (StrIsNullOrEmpty(Lineletter)) {
                    Msg("运号不能为空!");
                    return;
                }
                SetSQXL(1, Lineletter);
            });
        });

        /**
         * 刷新授权线路列表
         */
        function RefLineAuthorizationList() {
            //获取数据
            GetHTML("LineAuthorizationList", {}, function (data) {
                if (CheckHTMLData(data)) {
                    let html = TempToHtml("sqxl_list_temp", data);
                    $("#sqxl_list").html(html);
                    RemoveLuyou();
                }
            });
        }

        /**
         * 刷新授权员工列表
         */
        function RefEmployeeEmpowermentList()
        {
            //获取授权员工列表
            GetHTML("GetEmployeeEmpowermentList", {}, function (data) {
                if (CheckHTMLData(data)) {
                    let html = TempToHtml("sqyg_list_temp", data);
                    $("#sqyg_list").html(html);
                    RemoveLuyou();
                }
            });
        }

        /**
         * 授权线路
         * @param id 线路ID
         * @param state 线路状态
         */
        function SQXL(id, state) {
            lastid = id;
            if (state == 1)
            {
                $("#renzhengpanel").css("display", "");
            }
            else {
                SetSQXL(state);
            }

        }
        /**
         * 设置授权线路
         * @param state
         */
        function SetSQXL(state, Lineletter)
        {
            GetHTML("LineAuthorization", { id: lastid, state: state, Lineletter: Lineletter }, function (data) {
                if (CheckHTMLData(data)) {
                    $("#renzhengpanel").css("display", "none");
                    MessageBox("设置成功!");
                    RefLineAuthorizationList();
                }
            });
        }
        /**
         * 员工授权
         * @param id
         * @param state
         */
        function SQYG(id,state) {
            GetHTML("EmployeeEmpowerment", { id: id, state: state }, function (data) {
                if (CheckHTMLData(data)) {
                    Msg("设置成功");
                    RefEmployeeEmpowermentList();
                }
            });
        }
    </script>

    <!--线路授权-->
    <script id="sqxl_list_temp" type="text/html">
        {{if data.data.length > 0 }}
        {{each data.data as v}}
        <li class="dis_flex ali_center jus_bet" style="border-bottom:1px solid #bbb;padding-bottom:.5rem;margin-bottom:.5rem;">
            <a class="fc_ash" href="cancel_line_warrant.html?id={{v.ID}}"><i class="iconfont icon-close1 col_10"></i></a>
            <div class="col_90">
                <p class="dis_flex jus_bet ali_center fz_16 fc_black"><span>{{v.StartName}}</span> <span class="iconfont icon-repeat"></span><span>{{v.EndName}}</span></p>
                <p class="marb_10">{{v.ResponsibleName}}<span>{{v.Phone}}</span></p>
                <div class="dis_flex ali_center" style="position: relative;height:30px;">
                    {{if v.State==0}}
                    <p class="dis_flex ">
                        <a class="green fc_white fz_14" href="#" onclick="SQXL({{v.ID}},1);" style="height:30px; line-height:30px; margin-right:.5rem;padding:0 1.5rem;">同意</a>
                        <a class="red fc_white fz_14" href="#" onclick="SQXL({{v.ID}},2);" style="height:30px; line-height:30px;padding:0 1.5rem;">拒绝</a>
                    </p>
                    {{/if}}
                    <i class="fz_12 txt_right" style="position: absolute;right: 0;">{{v.CreateTime}}</i>
                </div>
            </div>
        </li>
        {{/each}}
        {{/if}}
    </script>

    <!--授权员工列表-->
    <script id="sqyg_list_temp" type="text/html">
        {{if data.data.length > 0}}
        {{each data.data as v}}
        <li class="dis_flex ali_center jus_bet" style="border-bottom:1px solid #bbb;padding-bottom:.5rem;margin-bottom:.5rem;">
            <a class="fc_ash" href="cencel_staff_warrant.html"><i class="iconfont icon-close1 col_10"></i></a>
            <div class="col_90">
                <p class="dis_flex jus_bet ali_center fz_16 fc_black" style="margin-bottom:10px;">申请管理员</p>
                <p class="marb_10">{{v.UserName}} <span>{{v.Phone}}</span></p>
                <div class="dis_flex ali_center" style="position: relative;height:30px;">
                    {{if v.State==0}}
                    <p class="dis_flex ">
                        <a class="green fc_white fz_14" href="#" onclick="SQYG({{v.ID}},1);" style="height:30px; line-height:30px; margin-right:.5rem;padding:0 1.5rem;">同意</a>
                        <a class="red fc_white fz_14" href="#" onclick="SQYG({{v.ID}},2);" style="height:30px; line-height:30px;padding:0 1.5rem;">拒绝</a>
                    </p>
                    {{/if}}
                    <i class="fz_12 txt_right" style="position: absolute;right: 0;">{{v.CreateTime}}</i>
                </div>
            </div>
        </li>
        {{/each}}
        {{/if}}
    </script>
</body>

</html>